<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
	<p>{{ user.username }}</p>
	<a href="{% url 'logout' %}">로그아웃</a>
    {#새로운 글쓰기 버튼#}
    <button onclick="location.href='/swingpage/create/'" >New Post</button>
{% else %}
	<a href="{% url 'signup' %}">회원가입</a>
	<a href="{% url 'login' %}">로그인</a>
{% endif %}
	
<h1>swing.py page</h1>



{% for p in object_list %}
    {% if p.head_image %}
    <p><img src="{{ p.head_image.url }}"></p>
        {% else %}
        <img src="https://picsum.photos/750/300?random">
    {% endif %}
<h3> {{p.title}} </h3>
<h4> {{p.created}} by {{p.author}}</h4>
<p> {{p.content | truncatewords:50}} </p>
<a href ="{{ p.get_absolute_url }}" id="read-more-post-{{ p.pk }}">Read More</a>
<p></p>
{% endfor %}

</body>
</html>
